.Alerte {
    margin: 10px;
}

.PageComplete {
    display: flex;
    margin: 32px auto;
    flex-direction: row;
    justify-content: space-around;
}

.Formulaire {
    display: flex;
    flex-direction: column;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
