.Alerte {
    margin: 10px;
    text-align: center;
}

.PageComplete {
    display: flex;
    margin: 32px auto;
    flex-direction: row;
    justify-content: space-around;
}

.Formulaire {
    display: flex;
    flex-direction: column;
}

table {
    font-family: arial, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border-top: 1px solid rgb(158, 158, 158);
    text-align: left;
    padding: 8px;
    text-transform: capitalize;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }