<div class="Alerte" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{alert.msg}}</alert>
</div>
<section class="PageComplete">
<div class="Formulaire">
    <form  (ngSubmit)= "validerSaisie(form)" #form="ngForm" >
        <label for="Nom">Nom</label>
        <input id ="Nom" name="nom" class="form-control" placeholder="Nom" ngModel required>

        <label for="Prenom">Prénom</label>
        <input id="Prenom" name="prenom" class="form-control" placeholder="Prénom" ngModel required>

        <label for="Telephone">Numéro de telephone</label>
        <input id="Telephone" name="telephone" class="form-control" type="text" digitOnly inputmode="numeric" required minlength="10" pattern="[0-9]*" placeholder="0123456789" ngModel required>

        <label for="Region">Région</label>
        <select id="Region" name="region" class="form-control" ngModel required>
            <option [ngValue]="reponse.nom" *ngFor="let reponse of listeRegions">{{reponse.code}} - {{reponse.nom}}</option>
        </select>
        <br>

        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Valider Saisie</button> <!-- (click)="validerSaisie()" -->
    </form>
</div>

<div class="Tableau" *ngIf="listeForm.length > 0">
    <label>Rechercher &nbsp;</label>
    <input [(ngModel)]="recherche">
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Telephone</th>
                <th>Région</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of listeForm | filter: recherche; let i = index">
                <th>{{user.nom}}</th>
                <th>{{user.prenom}}</th>
                <th>{{user.tel}}</th>
                <th>{{user.region}}</th>
                <th><button type="button" class="btn btn-warning" (click)="openModal(confirmation, i)">Supprimer</button></th>
            </tr>
        </tbody>
    </table>
</div>
</section>

<ng-template #confirmation>
    <div class="modal-body text-center">
      <p>Voulez-vous supprimer {{listeForm[index].nom}} {{listeForm[index].prenom}} du tableau?</p>
      <button type="button" class="btn btn-danger" (click)="Suppression()" >Oui</button>
      <button type="button" class="btn btn-default" (click)="modalRef.hide()" >Non</button>
    </div>
  </ng-template>